#cardContainer {
    color:aquamarine;
    width: 80vw;
    height: 80vh;
    display: flex;
    gap: 50px;
}
.newCard{
    background-color: blue;
    width: 150px;
    height: 200px;
    color:aquamarine;
}
#modalOverlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

#modalOverlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
  
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
}

  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#modalBackground {
    height: 500px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  
